{% include "header.html" %} 
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
{% load static %}

  <body class="bg-primary">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"><br><br>
  <div class="container my-5 bg-white" style="width: 30%; border-radius:30px; box-shadow: 5px 5px 5px #000080;">
	<form method="post" class="post-form mx-auto form-group" action="{% url 'common:login' %}">
	  {% csrf_token %}<br>
	  <h3 class="dark-grey-text text-center"><br><br>
		<strong>회원가입이 완료되었습니다.</strong>
	  </h3>
	  <br><br>
	  <table class="table table-borderless">
		<tr>
        <td style="text-align: center;"><b>{{ user.profile.name }} 고객님</b></td>
		</tr>
		<tr>
		  <td></td>
		</tr>
	  </table>
	  <div class="text-center">
		<button class="btn btn-indigo" href="{% url 'common:login' %}">로그인</button>
		<br><br>	  </div>
	</form><br>
  </div>
  </body>
  <style>
    .btn-indigo:hover {
		color: #007BFF;
		text-decoration: underline;
    }
  </style>
</body>

